/* Responsiveness for 1152px  */

@media (max-width: 1152px) and (min-width: 1104px) {
  .main-container {
    max-width: 1152px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    max-width: 1088px;
    width: 100%;
  }

  .hum-menu {
    display: none;
  }

  .main-hero {
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .main-hero p {
    font-size: 64px;
    font-weight: 900;
  }
  .main-hero span {
    font-size: 64px;
    font-weight: 900;
  }

  .circle1 {
    display: flex;
    max-width: 419px;
    width: 100%;
    min-height: 360px;
    padding: 4px 0px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .main-power {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .circle2 {
    display: flex;
    max-width: 436px;
    width: 100%;
    min-height: 374px;
    padding: 4px 0px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .things {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .p-things {
    max-width: 337px;
    width: 100%;
  }

  .circle3 {
    display: flex;
    max-width: 534px;
    width: 100%;
    min-height: 458px;
    padding: 4px 0px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    left: -106px;
    top: -45px;
  }

  .main-experiences {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .right-text {
    display: flex;
    align-items: flex-start;
  }

  .th-txt {
    max-width: 437px;
    width: 100%;
  }

  .nt2-g {
    gap: 48px;
  }

  .circle4 {
    display: flex;
    max-width: 424px;
    width: 100%;
    min-height: 382px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .main-team {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .team-box {
    row-gap: 51px;
  }

  .item {
    min-width: 340px;
    width: 100%;
  }

  #team-h {
    max-width: 237px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #team-p {
    max-width: 235px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .p-work {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .p-work .pwBoxes {
    display: grid;
    grid-template-columns: repeat(3, minmax(341px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 1fr));
    grid-gap: 32px;
  }

  .main-test {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .main-contact {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
  }

  #pink-line6 {
    position: absolute;
    right: 10px;
    bottom: 8px;
    max-width: 304px;
    width: 100%;
    min-height: 27px;
    z-index: -1;
    background: #ff5678;
  }

  .circle5 {
    display: flex;
    max-width: 504px;
    width: 100%;
    min-height: 432px;
    padding: 4px 0px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .c-name-box {
    display: flex;
    max-width: 469px;
    /* width: 100%; */
    align-items: flex-start;
  }

  .msg {
    display: flex;
    max-width: 469px;
    /* width: 100%; */
    height: 130px;
    align-items: flex-start;
  }

  .main-newsletter {
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .circle6 {
    display: flex;
    max-width: 458px;
    width: 100%;
    min-height: 452px;
    padding: 4px 0px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 1000px;
    background: #ffeef6;
  }

  .social-icons {
    gap: 24px;
  }

  .footer {
    display: flex;
    max-width: 1152px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    overflow: hidden;
  }

  .footer-text {
    max-width: 1088px;
    width: 100%;
  }

  .footer-line {
    max-width: 1088px;
    width: 100%;
  }

  #cp-gap {
    display: flex;
    justify-content: center;
    gap: 516px;
  }

  .circle7 {
    position: absolute;
    display: flex;
    max-width: 750px;
    width: 100%;
    min-height: 524px;
    right: -418px;
    top: -200px;
    z-index: -1;
    padding: 4px 0px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 1000px;
    background: #ffeef6;
  }

  .circle8 {
    position: absolute;
    display: flex;
    max-width: 750px;
    width: 100%;
    min-height: 524px;
    left: -288px;
    top: -200px;
    z-index: -1;
    padding: 4px 0px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 1000px;
    background: #ffeef6;
  }
}
